/*------------------------------- All Styles Pertaining to the Navigation Bar -------------------------------*/
nav {
	background-color: #016D29;
	height: 42px;
	/*opacity: 54%;*/
}

.navbar-fixed {
	height: 42px;
}

.nav-wrapper .brand-logo {
	font-size: 25px;
}

.nav-wrapper a, .nav-wrapper ul {
	line-height: 42px;
}

/*------------------------------- All Styles Pertaining to the Main Body -------------------------------*/
body * {
	max-height: 1000000em;
}

html {
	height: 100%;
	background-color: #F3C620;
}

header {
	background: black;
}

main, body {
  	height: 100%;
}

#tableContainer {
    width: 80%;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

#table, #submit, #reset {
	font-weight: bold;
}

.cell {
	border: 3px solid white;
}

.row, .input-field, .labelBackground, .cell {
	background-color: #016D29;
}

.reducedWidth {
	width: 5%;
}

.numberedCell {
	width: 80%;
}

#bubble {
	border: 3px solid black;
	position: absolute;
	width: 10%;
	border-radius: 15px;
}

#bubbleRow {
	border-radius: 20px;
}

#td00, #tdConnector {
	border-bottom: none;
}

#td0, #tdConnector {
	border-top: none;
}

#tdConnector {
	padding: 15px 0px;
}

#splitter {
	display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid white;
    margin: 1em 0;
    padding: 0;
}

#resultContainer {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

#resultTable {
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
}

#resultTable thead {
	font-size: 20px;
}

.resultCell {
	border: 2px solid black;
}

#message {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 15px;
    font-size: 20px;
}

#message div {
	text-align: left;
	margin-left: 25px;
	margin-bottom: 25px;
	font-size: 18px;
}