/*------------------------------- All Styles Pertaining to the Page Buttons -------------------------------*/



.fixed-action-btn {
	right: 50px !important;
	top: 4px !important;
}

.bottomPush {
	margin-bottom: 15px;
}

.buttonList {
	display: list-item !important;
}

.material-tooltip {
	border-radius: 15px !important;
}

#toast-container {
	left: 2%;
	right: auto !important;
	top: 90% !important;
}



/*------------------------------- All Styles Pertaining to the Page Modals -------------------------------*/



.modal {
	border-radius: 20px !important;
	background-color: #F3C620 !important;
}

.modal .modal-content h4, .modal .modal-content p, .modal-footer a {
	color: black !important;
}

.modal-footer {
	background-color: #F3C620 !important;
}

#introductionCheckLabel {
	position: relative;
	top: 11px;
	left: 16px;
}

#introductionCheckSpan {
	line-height: 19px;
	color: black;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
	border-color: black !important;
	background-color: black !important;
}



/*------------------------------- All Styles Pertaining to the Main Body -------------------------------*/



body * {
	max-height: 1000000em;
	overflow-y: hidden;
	color: white;
}

#resultBody {
	height: auto;
}

#resultBody * {
	color: black;
}

html {
	height: 100%;
	background-color: #F3C620;
}

header {
	background: black;
}

main, body {
  	height: 100%;
}



/*------------------------------- All Styles Pertaining to the Roulette Table -------------------------------*/



#tableContainer {
    width: 80%;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#table, #submit, #reset {
	font-weight: bold;
}

.cell {
	border: 3px solid white;
}

.row, .input-field, .labelBackground, .cell {
	background-color: #016D29;
}

.reducedWidth {
	width: 5%;
}

.numberedCell {
	width: 80%;
}

#bubble {
	border: 3px solid black;
	position: absolute;
	width: 10%;
	border-radius: 15px;
}

#bubble * {
	color: black;
}

#bubbleRow {
	border-radius: 20px;
}

#td00, #tdConnector {
	border-bottom: none;
}

#td0, #tdConnector {
	border-top: none;
}

#tdConnector {
	padding: 15px 0px;
}

#splitter {
	display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid white;
    margin: 1em 0;
    padding: 0;
}

.bottomBorder {
	border-bottom: none;
}



/*------------------------------- All Styles Pertaining to the Message -------------------------------*/



#message {
    background-color: white;
    width: 80%;
    margin: 30px auto 0 auto;
    border: 5px solid black;
    border-radius: 15px;
    font-size: 20px;
}

#message div {
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 25px;
	font-size: 18px;
}



/*------------------------------- All Styles Pertaining to the Results Table -------------------------------*/



#resultContainer {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

#resultTable {
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
}

#resultTable thead {
	font-size: 20px;
}

.resultTableRow {
	line-height: 3px;
}

.resultCell {
	border: 4px solid lightsteelblue;
}