/*------------------------------- All Styles Pertaining to the Navigation Bar -------------------------------*/
nav {
	background-color: #016D29;
	height: 42px;
	/*opacity: 54%;*/
}

.nav-wrapper .brand-logo {
	font-size: 25px;
}

.nav-wrapper a, .nav-wrapper ul {
	line-height: 42px;
}

/*------------------------------- All Styles Pertaining to the Main Body -------------------------------*/
body * {
	max-height: 1000000em;
}

html {
	height: 100%;
	background-color: #F3C620;
}

header {
	background: black;
}

main, body {
  	height: 100%;
}

#tableContainer {
    width: 80%;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

#table, #submit {
	font-weight: bold;
}

.cell {
	border: 3px solid white;
}

.row, .input-field, .labelBackground, .cell {
	background-color: #016D29;
}

.reducedWidth {
	width: 5%;
}

.numberedCell {
	width: 80%;
}